/*Bouton de la page d'accueil*/

.boutonaccueil {
    padding: 40px 50px 40px 50px;
    border-radius: 50px;
    border: none;
    background: $background-color-button;
    color: white;
    margin-top: 15px;
    margin-bottom: 100px;
    font-size: 40px;
}
