/*Bouton de la page d'accueil*/

.boutonaccueil {
    padding: 40px 50px 40px 50px;
    border-radius: 50px;
    border: none;
    background: $background-color-button;
    color: white;
    margin-top: 15px;
    margin-bottom: 100px;
    font-size: 40px;
    @include box-shadow;
}

.bouton_commander {
    padding: 40px 100px 40px 100px;
    border-radius: 80px;
    border: none;
    background: $background-color-button;
    color: white;
    font-size: 40px;
    margin: 10% 0% 10% 30%;
    @include box-shadow;
}