body {
    margin: 0;
}

/*Animation du Loading Spinner */

.bar {
    border: 2px solid grey;
    width: 60%;
    height: 20px;
    margin: 20% 20% 0% 20%;
    position: fixed;
    animation: bar-animation 1ms 3000ms;
    z-index: 10;
}

.progression__bar {
    
    height: 100%;
    width: 100%;
    transform-origin: left;
    animation: progress-bar 2500ms 500ms;
    background: linear-gradient(0.25turn,#FF79DA, #9356DC);
    animation-fill-mode: backwards;
}

@keyframes progress-bar {
    0% {
        transform: scaleX(0);
        opacity: 0.1;
    }
    18% {
        transform: scaleX(0.18);
    }
    36% {
        transform: scaleX(0.36);
    }
    54% {
        transform: scaleX(0.54);
    }
    78% {
        transform: scaleX(0.78);
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes bar-animation {
    0% {
        left: 0%;
        opacity:1;
    }
    100% {
        left: 1000%;
        opacity: 0;
    }
}

.loader_box {
    width: 100%;
    height: 100%;
    color: white;
    background: white;
    z-index: 10;
    position: fixed;
    animation: bar-animation 3000ms 3000ms;
    animation-fill-mode: forwards;
}

/*Animation de la page restaurant*/

@keyframes animation_page {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0.33;
    }
    66% {
        opacity: 0.66;
    }
    100% {
        opacity: 1;
    }
}

.entrées {
    animation: animation_page 2000ms 500ms;
    animation-fill-mode: backwards;
}

.plats {
    animation: animation_page 2000ms 2000ms;
    animation-fill-mode: backwards;
}

.desserts {
    animation: animation_page 2000ms 4000ms;
    animation-fill-mode: backwards;
}

/*Animation du coche et du prix*/

@keyframes coche_animation {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes coche_moove_mobile {
    0% {
        padding: 5.5% 0% 6% 0%;
        left: 89.5%;
    }
    25% {
        padding: 5.5% 0% 6% 3%;
        left: 86.5%
    }
    50% {
        padding: 5.5% 2% 6% 5.5%;
        left: 82%;
    }
    75% {
        padding: 5.5% 4% 6% 5.5%;
        left: 80%;
    }
    100% {
        padding: 5.5% 6% 6% 5.5%;
        left: 78%;
    }
}

@keyframes coche_moove_desktop {
    0% {
        padding: 26px 0px 26px 0px;
        left: 28.1%;
    }
    25% {
        padding: 26px 0px 26px 15px;
        left: 26.9%;
    }
    50% {
        padding: 26px 10px 26px 30px;
        left: 24.9%;
    }
    75% {
        padding: 26px 20px 26px 30px;
        left: 24.1%;
    }
    100% {
        padding: 26px 30px 26px 30px;
        left: 23.3%;
    }
}

@keyframes coche_moove_plats {
    0% {
        padding: 26px 0px 26px 0px;
        left: 61.4%;
    }
    25% {
        padding: 26px 0px 26px 15px;
        left: 60.3%;
    }
    50% {
        padding: 26px 10px 26px 30px;
        left: 58.3%;
    }
    75% {
        padding: 26px 20px 26px 30px;
        left: 57.5%;
    }
    100% {
        padding: 26px 30px 26px 30px;
        left: 56.7%;
    }
}

@keyframes coche_moove_desserts {
    0% {
        padding: 26px 0px 26px 0px;
        left: 94.7%;
    }
    25% {
        padding: 26px 0px 26px 15px;
        left: 93.6%;
    }
    50% {
        padding: 26px 10px 26px 30px;
        left: 91.6%;
    }
    75% {
        padding: 26px 20px 26px 30px;
        left: 90.8%;
    }
    100% {
        padding: 26px 30px 26px 30px;
        left: 90%;
    }
}