header {
    text-align: center;
    width: auto;
    height: auto;
    background-color: #F8F8F8;
        &>h1 {
            background-color: white;
            margin: 0;
        }
        &>#bloc_sous-titre {
            background-color: #F0F0F2;
            box-shadow: inset 0px 2px 5px #aaaaaa;
            display: flex;
            justify-content: center;
            font-size: smaller;
        }
            &>#bloc_sous-titre>#logo_map {
                margin-top: 17px;
                margin-right: 20px;
            }
        &>.présentationrestau {
            font-size: larger;
        }
        &>.présentationrestau2 {
            font-size: smaller;
            opacity: 0.6;
        }
}