header {
    text-align: center;
    width: auto;
    height: auto;
    background-color: #F8F8F8;
}

h1 {
    background-color: white;
    margin: 0;
}

#bloc_sous-titre {
    background-color: #F0F0F2;
    box-shadow: inset 0px 2px 5px #aaaaaa;
    display: flex;
    justify-content: center;
    font-size: smaller;
}

#logo_map {
    margin-top: 17px;
    margin-right: 20px;
}

.présentationrestau {
    font-size: larger;
}

.présentationrestau2 {
    font-size: smaller;
    opacity: 0.6;
}

/*Partie Fonctionnement de la page d'Accueil*/

h2, nav { 
    background-color: white;
    margin: 0;
    padding: 3% 0 3% 0;
}

a {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    text-decoration: none;
}

.bloc_fonctionnement, .bloc_fonctionnement2, .bloc_fonctionnement3 {
    border: solid 0px #dddddd;
    border-radius: 20px;
    padding: 20px 50px 20px 0px;
    background-color: #F8F8F8;
    color: black;
    @include box-shadow;
}

.bloc_fonctionnement {
    padding-right: 40px;
}

.bloc_fonctionnement2 {
    padding-right: 60px;
}

.bloc_fonctionnement3 {
    padding-right: 50px;
    margin-left: 40px;
    margin-right: 40px;
    background-color:lighten($color: $primary-color, $amount: 35%); 
}

#un, #deux, #trois {
    border-radius: 40px;
    color: white;
    background-color: $primary-color;
    margin-top: 20px;
    position: absolute;
}

#un,#deux, #trois {
    margin-right: 21.5%;
}

#un {
    padding: 3px 7px 3px 7px;
}

#deux {
    padding: 3px 6px 3px 6px;
}

#trois {
    padding: 3px 4px 3px 4px;
}

#mobile {
    padding: 0px 20px 0px 20px;
}

#bars {
    padding: 0px 16px 0px 22px;
}

#store {
    padding:0px 16px 0px 20px;
}