header {
    text-align: center;
    width: auto;
    height: auto;
    background-color: #E4E6E5;
}

h1 {
    background-color: white;
    margin: 0;
}

#bloc_sous-titre {
    background-color: #dddddd;
    box-shadow: inset 0px 2px 5px #aaaaaa;
    display: flex;
    justify-content: center;
    font-size: smaller;
}

#logo_map {
    margin-top: 17px;
    margin-right: 20px;
}

.présentationrestau {
    font-size: larger;
}

.présentationrestau2 {
    font-size: smaller;
    opacity: 0.6;
}
