/*Partie Fonctionnement de la page d'Accueil*/

header >h2, nav { 
    background-color: white;
    margin: 0;
    padding: 6% 0% 0% 5%;
    text-align: left;
}

a {
    display: flex;
    justify-content: left;
    margin: 0% 5% 3% 2%;
    text-decoration: none;
    align-items: baseline;
        &>#un, #deux, #trois {
            border-radius: 40px;
            color: white;
            background-color: $primary-color;
            position: absolute;
            border: solid 1px $primary-color;
            padding: 10px 14px 10px 14px;
            margin: 40px 0px 40px -20px;
        }
        &>.bloc_fonctionnement, .bloc_fonctionnement2, .bloc_fonctionnement3 {
            border: solid 0px #dddddd;
            border-radius: 40px;
            padding:40px 40px 40px 40px;
            max-width: 800px;
            width: 100%;
            font-size: 30px;
            background-color: #F8F8F8;
            color: black;
            @include box-shadow;
            margin-bottom: 2%;
        }
            &>.bloc_fonctionnement>#mobile, &>.bloc_fonctionnement2>#bars, &>.bloc_fonctionnement3>#store {
                padding: 0% 10% 0% 10%;
            }
        &>.bloc_fonctionnement3 {
            background-color:lighten($color: $primary-color, $amount: 35%); 
        }
}