@font-face {
    font-family:Shrikhand;
    src: url('/Projet3Livrable/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
    font-family:Roboto;
    src: url('/Projet3Livrable/Roboto/Roboto-Medium.ttf') format('truetype');
    src: url('/Projet3Livrable/Roboto/Roboto-Regular.ttf') format('truetype');
    src: url('/Projet3Livrable/Roboto/Roboto-Bold.ttf') format('truetype');
}

h1, h2, h3 {
    font-family: Shrikhand;
}

p, nav, figcaption, a {
    font-family:Roboto;
}

.restaurant_name {
    font-weight: bolder;
    margin: 0;
    font-size: 30px;
}

.restaurant_localisation {
    font-family: sans-serif;
    font-size: 30px;
    margin: 2% 0% 2% 0%;
}